# Getting started with Python

## THIS IS A QUICK START TO PYTHON AND JUPYTER NOTEBOOK
### (in the next chapter we go in more depth with some important comands and variables that appear here)

#### The best way to practice is to run all cells by yourself, but previously reset all the outputs. To reset, click on Kernel tab at the top and choose Restart and Clear Output.


<br>

<div style="font-size: 20px">Let's not break the tradition! Let's start with "Hello, World!"
    </div>

<br>

In [2]:
print('Hello World!')

Hello World!

## Create some variables in Python

In [3]:
i = 4  # int

In [5]:
# show the type of the variable i
type(i)

int

In [6]:
f = 4.1   # float (double precision, floating point numeric variable)
type(f)

float

In [7]:
z = 2 + 3j  # complex (j is i=(0,1) in R^2 representation of C)
            # there must be no space between 3 and j
print(z)
type(z)

(2+3j)

complex

In [8]:
b = True   # bool (boolean i.e. logical variable)
print(b)
type(b)

True

bool

In [9]:
s = "This is a string!"
print(s)
type(s)

This is a string!

str

## Commenting

As you may have noticed, to tell Python to ignore certain content, such as your notes or a test code line, i.e. to treat a certain text as a comment, you start the comment with `#`. Everything after symbol `#` is ignored. You can also put a comment after a code line. For easier reading, you can often see some people commenting by starting with `##` (and Python woould treat the 2nd symbol `#` as the first character of the comment).

To have a comment in multiple lines, apart from starting with `#` in each line, you can also start and end the entire multiple line comment with `"""`. Unlike `#`, you should not have more than 3 characters `"`.

In [8]:
## this is a comment line
# and this is the second line 
## and the third one
bla = 7
bla

7

In [9]:
"""
this is another way
of commenting
in multiple lines
"""
bla = 7
bla

7

## Getting Info and Help

<br>
To look for basic info about a variable, type the question mark ? before or after the variable name

In [10]:
## s was created above
?s

To look for basic info on a given command, type help(your_command)

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Key Shortcuts

By pressing Esc + H you get help on <b>key shortcuts</b> in both **Command Mode** and <b>Edit Mode</b> (for Edit Mode, scroll down in the window). This is also done by clicking on Help tab at the top of the notebook.

<img src="key-shortcuts.jpg" style="height:400px; width:380px">

## Advanced Variable Types

In [10]:
# list (can contain components of different types)
li = [3, 1.0 , 8/2, "bla", 3+2j]  

print(li)
type(li)

[3, 1.0, 4.0, 'bla', (3+2j)]

list

In [12]:
# dictionary  (in 'foo':1  foo is called key, and 1 is its value)
di = {'foo':1, 'bar':2.3, 's':'my first dictionary'}  
di

{'foo': 1, 'bar': 2.3, 's': 'my first dictionary'}

In [13]:
di['bar']  #element of a dictionary

2.3

`try-except` code chunks enable you to try certain command or set of commands, given in the `try` section. If it doesn't compile, do the alternative code chunk, given in the `except` section. There is a third (optional) section, `finally`, which executes code chunk regarless of `try` and/or `except` part.

In [14]:
## the try block will generate an exepction, as di[1] is not allowed. 
try:
    di[1]
except:
    print("Oops! You can't use indexes for calling a dictionary component; "\
          "think of keys as dictionary's indexes!")
finally:
    print("Anyhow, keys are dictionary's indices")
    print(di['bar'])

Oops! You can't use indexes for calling a dictionary component; think of keys as dictionary's indexes!
Anyhow, keys are dictionary's indices
2.3

In [16]:
# touple
tp = (-2, "bla", 7.3)
print(tp)
type(tp)

(-2, 'bla', 7.3)

tuple

In [17]:
# can also define tuple w/o parentheses 
# unless the expression is too complicated

tp = -2, "bla", 7.3

print(tp)
type(tp)

(-2, 'bla', 7.3)

tuple

In [16]:
# range
ra = range(5)
print(ra)
print(len(ra))  ## length of the variable ra
type(ra)

range(0, 5)
5

range

In [17]:
# Python's null type
n = None  
type(n)

NoneType

### To recapitulate:
 
 #### Basic Types

`int`: integer

`float`: real number (double precision, floating point number)

`complex`: complex

`boolean`: logical

`str`: string (character)


#### Advanced Types

`list`: a list (can be thought of what is "array" in some other languages)

`tuple`: $n$-tuple, an ordered set of length $n \in \{0, 1, 2, 3, \dots \}$

`range`: range variable, for iterative loops (i.e. for sequencing)



**NOTES**

* `int`, `float` and `complex` are called numeric types

* `list`, `tuple` and `range` are called sequence types; they are iterable, you can run a loop through them - see below

* There are many other types of variables/data; some of them built in, but many others are defined within particular modules/libraries/packages (such as `ndarray` from `numpy` module, or `Series` and `DataFrame` from `pandas` module)

## Advanced printing

In [18]:
i = 4; f = 4.1

print("Our float value is %s. Our int value is %s." % (f,i))  #Python is pretty good with strings

Our float value is 4.1. Our int value is 4.

## Getting and Changing Working Directory

In [19]:
## import (i.e. load) module (i.e. package) os; 
## this is equivalent to R's function library()
import os   

## print current working directory; note that you need to specify 
## the parent package of the child function getcwd()
mypath = os.getcwd()

mypath

'/Users/slan/Teaching/ASU/DAT301/Lectures'

In [4]:
[type(mypath), len(mypath)]

[str, 40]

In [5]:
## to get without double backslashes, use print command (which is "as is")
print(mypath)

/Users/slan/Teaching/ASU/DAT301/Lectures

In [2]:
## change working directory using os function chdir
## Specify the destination path in the argument. It can be absolute or relative. Use '../' to move up.
## You can change the current directory in the same way as the UNIX cd command.

os.chdir('../')

print(os.getcwd())     ## didn't have to use "print", but just emphasizing

/Users/slan/Teaching/ASU/DAT301

In [3]:
os.chdir('./')

print(os.getcwd())

/Users/slan/Teaching/ASU/DAT301

## Conditional statements in Python

In [26]:
i = 2; f = 4.3  ## you can write multiple statements in a single line, separating them by ;

if i == 1 and f > 4:
    print("The value of i is 1 and f is greater than 4.")
elif i > 4 or f > 4:
    print("i or f are both greater than 4.")
else:
    print ("both i and f are less than or equal to 4")

i or f are both greater than 4.

In [27]:
#you could also do this way (it's complicated, so, not recommended, at least not for long statements)

print("The value of i is 1 and f is greater than 4.") if (i == 1 and f > 4) else print("i or f are both greater than 4.") if i > 4 or f > 4 else print ("both i and f are less than or equal to 4")

i or f are both greater than 4.

## `for` and `while` loops

In [28]:
li = [3, 1.0 , 8/2, "bla", 3+2j]  
print(li)

[3, 1.0, 4.0, 'bla', (3+2j)]

In [29]:
for elem in li:
    print(elem)

3
1.0
4.0
bla
(3+2j)

#### Note that in Python we don't use {} or other markers to indicate the part of the loop that gets iterated.  Instead, we just indent and align each of the iterated statements with spaces or tabs. (You can use as many as you want, as long as the lines are aligned.)

In [30]:
counter = 6
while counter < 10:
    print(counter)
    counter += 1  ## I personally don't like +=, but this is certainly used by many programers. 
                  ## Instead, I prefer (that's just me) to write:  counter = counter + 1

6
7
8
9

# Creating functions in Python

Again, we don't use {}, but just indent the lines that are part of the function.

In [31]:
## indentation is important!

def add2(x):
    y = x + 2   
    return y

In [32]:
add2(5)

7

We can also define simple functions using reserved word `lambda` (so called lambda expressions or anonymous functions):

In [33]:
square = lambda x: x*x

square(8)

64

In [1]:
## loading pandas module/package with alias pd
import pandas as pd

In [3]:
#set/change directory to be the one from which we need some file for the next cell.
os.chdir("./Lectures")  
%pwd  ##print working directory; could do it with os.getcwd() as well

NameError: name 'os' is not defined

In [4]:
## reading the file, which is located in the current working directory
cd = pd.read_csv("WAC2019-100m-women.csv")
cd   ## note the html format of the presentation of the table

,Rank,Lane,Name,Nationality,Time,Notes
0,"1st place, gold medalist(s)",6,Shelly-Ann Fraser-Pryce,Jamaica (JAM),10.71,WL
1,"2nd place, silver medalist(s)",7,Dina Asher-Smith,Great Britain & N.I. (GBR),10.83,NR
2,"3rd place, bronze medalist(s)",4,Marie-Josée Ta Lou,Ivory Coast (CIV),10.9,NaN
3,4,5,Elaine Thompson,Jamaica (JAM),10.93,NaN
4,5,8,Murielle Ahouré,Ivory Coast (CIV),11.02,SB
5,6,9,Jonielle Smith,Jamaica (JAM),11.06,NaN
6,7,3,Teahna Daniels,United States (USA),11.19,NaN
7,NaN,2,Dafne Schippers,Netherlands (NED),DNS,NaN

In [9]:
print(cd)  ## plain printout, not an html printout

                            Rank  Lane                     Name  \
0    1st place, gold medalist(s)     6  Shelly-Ann Fraser-Pryce
1  2nd place, silver medalist(s)     7         Dina Asher-Smith
2  3rd place, bronze medalist(s)     4       Marie-Josée Ta Lou
3                              4     5          Elaine Thompson
4                              5     8          Murielle Ahouré
5                              6     9           Jonielle Smith
6                              7     3           Teahna Daniels
7                            NaN     2          Dafne Schippers

                   Nationality   Time Notes
0                Jamaica (JAM)  10.71    WL
1   Great Britain & N.I. (GBR)  10.83    NR
2            Ivory Coast (CIV)   10.9   NaN
3                Jamaica (JAM)  10.93   NaN
4            Ivory Coast (CIV)  11.02    SB
5                Jamaica (JAM)  11.06   NaN
6          United States (USA)  11.19   NaN
7            Netherlands (NED)    DNS   NaN